<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <body ng-app="myApp">
  <div ng-controller="formCtrl">
  <form name="formulario">
          <label>Nombre</label>
  
          <input type="text" name="name" ng-model="nuevodato.nombre" ng-pattern="[a-zA-Z ]+"required/>
  <span ng-show="nombreInvalido">Por favor, introduzca un nombre</span><br/>
          <label>Apellidos</label>
  
          <input type="text" name="apellidos" ng-model="nuevodato.apellidos" ng-pattern="[a-zA-Z ]+"required/>
  
          <label for="genero">Género</label>
        <input name="genero" type="radio" ng-model="nuevodato.genero" value="Masculino" />Masculino
        <input name="genero" type="radio" ng-model="nuevodato.genero" value="Femenino" />Femenino
        <br />
           <label>Fecha de nacimiento</label>
  
          <input type="date" name="fech_nac" ng-model="nuevodato.fech_nac"required/>
            <label>Correo</label>
  
          <input type="text" name="correo" ng-model="nuevodato.correo"  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required/>
          
          <br/>
  
          <input type="hidden" ng-model="nuevodato.id" />
  
          <input type="button" value="Agregar" ng-click="agregar()" class="btn btn-primary"/>
  
          <br />
  
          <br />
          </form>
   <table border="1" bordercolor="blue">
              <tr style="color:blue">
                  <th>Nombre</th>
                  <th >Apellidos</th>
                  <th >Genero</th>
                  <th >fecha de nacimiento</th>
                  <th >Correo</th>
                   <th>Editar</th>
                   <th>Eliminar</th>
              </tr>
              <tr style="color:red" ng-repeat="x in datos|orderBy:'nombre'" >
                  <td>{{ x.nombre }}</td>
                  <td>{{ x.apellidos }}</td>
                  <td>{{ x.genero }}</td>
                  <td>{{ x.fech_nac|date:"dd/MM/yyyy" }}</td>
                  <td>{{ x.correo }}</td>
                  <td>
                      <img src="../Modulo1/images/editar.png" width="50px" height="50px%" ng-click="editar(x.id)"> 
                    </td>
                    <td>
                      <img src="../Modulo1/images/eliminar.jpg"  width="50px" height="50px" ng-click="eliminar(x.id)">
                  </td>
              </tr>
          </table>
          <pre>{{datos | json}}</pre>
          </div>


<script src="..\Modulo1\js\tabla.js">
  
</script>

</body>
</html>
